# LaTeX output.
*.aux
*.log
*.pdf

# Rake output.
*/distribution

# Python garbage.
*.pyc

# Rubinius garbage.
*.rbc

# Visualizer inputs.
*.jsonp

# Exception for .json that comes with PS3. 
!3/code/circuit2/good_trace.jsonp
